Package: com.alshaman.dateformatter
Name: DateFormatter
Architecture: iphoneos-arm
Description: Change date format on lock screen
Maintainer: Saud Alshaman
Author: Saud Alshaman
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-1+debug
Installed-Size: 444
