Package: com.saud.twiteddate
Name: TwitDate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: saud
Author: saud
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
